.section{
    @include desktop{
        padding: 25px 0;
    }
    .svg-img{
        position: absolute;
        top: 30%;
        left: -7%;
        animation: move_top 5s infinite linear;
        @include desktop{
            display: none;
        }
    }
    .animate-shape{
        position: absolute;
        top: 29%;
        right: 4%;
        height: 300px;
        width: 300px;
        svg{
            width: 100%;
        }
        @include desktop{
            display: none;
        }
    }
    .animate-pattern{
        position: absolute;
        top: 46%;
        right: 12%;
        height: 100px;
        width: 100px;
        animation: move_top 3s infinite linear;
        img{
            height: 100%;
            width: 100%;
        }
        @include desktop{
            display: none;
        }
    }
    .singleBlog{
        &__feature{
            margin: 0 100px;
            @include desktop{
                margin: 0;
            }
            img{
                height: 100%;
                width: 100%;
                border-radius: 20px;
            }
        }
    }

}

.post-meta {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  margin-top: 40px;
  li {
    list-style: none;
    z-index: 2;
    i {
      padding-right: 7px;
    }
    a {
      color: #7e7e8a;
      &:hover {
        color: $primary-color;
      }
    }
  }
}
