@font-face {
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/azeret-mono/azeret-mono-latin-400-normal.woff2') format('woff2');
}
@font-face {
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('fonts/azeret-mono/azeret-mono-latin-500-normal.woff2') format('woff2');
}
@font-face {
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('fonts/azeret-mono/azeret-mono-latin-600-normal.woff2') format('woff2');
}
@font-face {
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('fonts/azeret-mono/azeret-mono-latin-700-normal.woff2') format('woff2');
}
@font-face {
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('fonts/azeret-mono/azeret-mono-latin-800-normal.woff2') format('woff2');
}
@font-face {
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('fonts/azeret-mono/azeret-mono-latin-900-normal.woff2') format('woff2');
}

body{
  font-family: $secondary-font;
}

// h1, h2, h3, h4, h5, h6{
//   font-family: $secondary-font;
//   font-weight: 600;
//   color: $text-color-dark;
// }

// p{
//   font-size: 16px;
//   color: $text-color;
// }

h1{
  font-size: 48px;
}

h2{
  font-size: 40px;
}

h3{
  font-size: 32px;
}

h4{
  font-size: 24px;
}

h5{
  font-size: 18px;
}

h6{
  font-size: 14px;
  font-weight: 300;
}