{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
{% if page.extra.author %}
{% set team = get_section(path="team/_index.md", lang=lang) %}
{% set authors = team.extra.members | filter(attribute="name", value=page.extra.author) %}
{% endif %}
<header class="breadCrumb">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-12 offset-lg-1 offset-md-0 text-center">
        <h1 class="breadCrumb__title">{{ page.title }}</h1>
        <nav aria-label="breadcrumb" class="d-flex justify-content-center">
          <ol class="breadcrumb align-items-center">
            <li class="breadcrumb-item"><a href="{{ get_url(path="/", lang=lang) }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ get_url(path='@/blog/_index.md', lang=lang) }}">All Post</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
          </ol>
        </nav>
        {{ macros::breadcrumb_jsonld(items=[
          trans(key="home", lang=lang) ~ "|||" ~ get_url(path="/", lang=lang),
          trans(key="blog", lang=lang) ~ "|||" ~ get_url(path='@/blog/_index.md', lang=lang),
          page.title ~ "|||" ~ page.permalink
        ]) }}
      </div>
    </div>

    <ul class="post-meta">
      {% if authors and authors | length > 0 %}
      {% set author = authors | first %}
      <li>
        <a class="post-meta__author-link" href="{{ get_url(path='@/team/_index.md', lang=lang) }}#{{ author.name | slugify }}">
          <img class="post-meta__avatar" src="{{ get_url(path=author.image) }}" alt="{{ author.name }}">{{ author.name }}
        </a>
      </li>
      {% endif %}
      <li>
        <i class="lni lni-calendar"></i>
        <time datetime="{{ page.date | date(format='%Y-%m-%d') }}">{{ page.date | date(format=config.extra.date_format) }}</time>
      </li>
      <li>
        <i class="lni lni-alarm-clock"></i>
        {{ page.reading_time }} mins read
      </li>
      {% if page.taxonomies.tags %}
      <li>
        <i class="lni lni-tag"></i>
        {% for tag in page.taxonomies.tags %}
          <a class="text-capitalize" href="{{ get_taxonomy_url(kind='tags', name=tag, lang=lang) }}">{{ tag }}</a>
        {% endfor %}
      </li>
      {% endif %}
      {% if page.taxonomies.categories %}
      <li>
        <i class="lni lni-folder"></i>
        {% for category in page.taxonomies.categories %}
          <a class="text-capitalize" href="{{ get_taxonomy_url(kind='categories', name=category, lang=lang) }}">{{ category }}</a>
        {% endfor %}
      </li>
      {% endif %}
    </ul>
  </div>
  </div>
  </div>
  </div>
</header>

<div class="section singleBlog">
  <div class="svg-img">
    <img src="{{ get_url(path='images/hero/figure-svg.svg') }}" alt="">
  </div>
  <div class="animate-shape">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="250.49" height="240.947" viewBox="0 0 250.49 240.947">
      <defs>
        <linearGradient id="e" x1="0.929" y1="0.111" x2="0.263" y2="0.935" gradientUnits="objectBoundingBox">
          <stop offset="0" stop-color="#f1f6f9" />
          <stop offset="1" stop-color="#f1f6f9" stop-opacity="0" />
        </linearGradient>
      </defs>
      <path class="blob" fill="url(#e)" transform="translate(-21.078 -106.727)"
        d="M226.445,284.631c-7.363,10.259-10.457,22.867-15.316,34.52s-12.588,23.343-24.611,27.194c-12,3.848-25.153-1.186-35.508-8.377s-19.145-16.548-29.965-23.016c-11.941-7.138-25.731-10.4-39.254-13.665s-27.29-6.755-39-14.256S21.573,267.19,21.1,253.288c-.545-15.931,10.533-29.962,22.923-39.99s26.765-17.8,37.288-29.774c10.755-12.225,16.638-27.842,24.39-42.157S124.345,113,139.951,108.373c9.883-2.93,20.634-1.685,30.385,1.658s18.675,8.677,27.468,14.058c15.131,9.265,30.21,18.867,43.125,31.032s23.666,27.158,28.3,44.284,2.557,36.529-7.914,50.851C251.658,263.468,235.985,271.332,226.445,284.631Z" />
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 600 600">
      <defs>
        <linearGradient id="d" x1="0.929" y1="0.111" x2="0.263" y2="0.935" gradientUnits="objectBoundingBox">
          <stop offset="0" stop-color="#f1f6f9" />
          <stop offset="1" stop-color="#f1f6f9" stop-opacity="0" />
        </linearGradient>
      </defs>
      <g data-name="blob-shape (3)">
        <path class="blob" fill="url(#d)"
          d="M455.4 151.1c43.1 36.7 73.4 92.8 60.8 136.3-12.7 43.5-68.1 74.4-111.3 119.4-43.1 45-74 104.1-109.8 109-35.9 5-76.7-44.2-111.8-89.2-35.2-45-64.7-85.8-70.8-132.6-6-46.8 11.6-99.6 46.7-136.3 35.2-36.6 88-57.2 142.4-58.8 54.5-1.7 110.6 15.6 153.8 52.2z" />
      </g>
    </svg>
  </div>
  <div class="animate-pattern">
    <img src="{{ get_url(path='images/service/background-pattern.svg') }}" alt="background-shape">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <article class="card blog__post-card blog__post-card--large">
          <h2 class="visually-hidden">{{ page.title }}</h2>
          <img class="blog__post-card-image" src="{{ get_url(path=page.extra.post_image) }}" alt="{{ page.title }}">
          <div class="blog__post-card-body">
                {% if page.toc %}
                    <h3>{{ trans(key="table_of_contents", lang=lang) }}</h3>
                    <ul>
                    {% for toc in page.toc %}
                        <li>
                            <a href="{{ toc.permalink | safe }}">{{ toc.title }}</a>

                            {% if toc.children %}
                            <ul>
                                {% for children in toc.children %}
                                    <li>
                                        <a href="{{ children.permalink | safe }}">{{ children.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}

              {{ page.content | safe }}
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
{% endblock %}
