{% import "macros.html" as macros %}
<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
        <a href="{{ get_url(path="/", lang=lang) }}" class="navbar-brand">
            <img src="{{ get_url(path=extra.logo) }}" alt="site-logo" class="navbar-brand__logo navbar-brand__logo--light">
            <img src="{{ get_url(path=extra.logo_dark) }}" alt="site-logo" class="navbar-brand__logo navbar-brand__logo--dark">
        </a>

        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <ul class="nav navbar-nav main-navigation">
                {% for menu in extra.menus %}
                {% if menu.name == "service" %}
                <li class="nav-item dropdown">
                    <a href="{{ get_url(path=menu.url, lang=lang) }}" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ trans(key=menu.name, lang=lang) }}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ get_url(path="#service", lang=lang) }}">{{ trans(key="service_overview", lang=lang) }}</a></li>
                        <li><a class="dropdown-item" href="{{ get_url(path="@/nix/_index.md", lang=lang) }}">{{ trans(key="nix", lang=lang) }}</a></li>
                        <li><a class="dropdown-item" href="{{ get_url(path="@/rust/_index.md", lang=lang) }}">{{ trans(key="rust", lang=lang) }}</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{{ get_url(path=menu.url, lang=lang) }}" class="nav-link">
                        {{ trans(key=menu.name, lang=lang) }}
                    </a>
                </li>
                {% endif %}
                {% endfor %}

                {% if config.languages | length >= 1 %}
                {# Zola omits the leading slash from `current_path` specifically for a
                   non-default language's homepage (e.g. "de/" instead of "/de/"),
                   unlike every other page -- normalize before matching the prefix. #}
                {% set normalized_path = current_path %}
                {% if not (normalized_path is starting_with("/")) %}
                    {% set normalized_path = "/" ~ normalized_path %}
                {% endif %}
                {% set lang_prefix = "/" ~ lang ~ "/" %}
                {% if normalized_path == "/" or normalized_path == lang_prefix %}
                    {% set current_relative_path = "/" %}
                {% elif lang != config.default_language and normalized_path is starting_with(lang_prefix) %}
                    {% set current_relative_path = normalized_path | replace(from=lang_prefix, to="") %}
                {% else %}
                    {% set current_relative_path = normalized_path | trim_start_matches(pat="/") %}
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle lang-switch-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false" aria-label="{{ trans(key="language", lang=lang) }}">
                        <svg class="icon-svg" viewBox="0 -960 960 960" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true">
                            <path d="M480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-82q26-36 45-75t31-83H404q12 44 31 83t45 75Zm-104-16q-18-33-31.5-68.5T322-320H204q29 50 72.5 87t99.5 55Zm208 0q56-18 99.5-55t72.5-87H638q-9 38-22.5 73.5T584-178ZM170-400h136q-3-20-4.5-39.5T300-480q0-21 1.5-40.5T306-560H170q-5 20-7.5 39.5T160-480q0 21 2.5 40.5T170-400Zm216 0h188q3-20 4.5-39.5T580-480q0-21-1.5-40.5T574-560H386q-3 20-4.5 39.5T380-480q0 21 1.5 40.5T386-400Zm268 0h136q5-20 7.5-39.5T800-480q0-21-2.5-40.5T790-560H654q3 20 4.5 39.5T660-480q0 21-1.5 40.5T654-400Zm-16-240h118q-29-50-72.5-87T584-782q18 33 31.5 68.5T638-640Zm-234 0h152q-12-44-31-83t-45-75q-26 36-45 75t-31 83Zm-200 0h118q9-38 22.5-73.5T322-782q-56 18-99.5 55T150-640Z"/>
                        </svg>
                    </a>

                    {% set all_langs = ["en", "de"] %}
                    <ul class="dropdown-menu lang-switch-menu">
                        {% for language in all_langs %}
                        {% set lang_href = get_url(path=current_relative_path, lang=language) %}
                        {% if not (lang_href is ending_with("/")) %}
                            {% set lang_href = lang_href ~ "/" %}
                        {% endif %}
                        <li>
                            <a class="dropdown-item lang-switch-link{% if language == lang %} active{% endif %}" href="{{ lang_href }}"{% if language == lang %} aria-current="true"{% endif %}>
                            {{ language | upper }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}

                <li class="nav-item">
                    {{ macros::theme_toggle() }}
                </li>
            </ul>

            <div class="navbar-nav">
                <a href="{{get_url(path='@/contact/_index.md', lang=lang) }}" class="hire_button">
                    {{ trans(key="hire_me_now", lang=lang) }}
                </a>
            </div>
        </div>
    </div>
</nav>
